.site-title{
    margin: 0 auto;
    width: 100px;
}

.site-description{
    text-align: justify;
}

header {
    padding-top: 10%;
}

.navbar{
    text-align: center;
    width: 100%;
}

.navbar-links{
    display: inline-block;
}

.navbar .navbar-links+.navbar-links{
    margin-left:20px;
}